.login {
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: black;
}

.login > img {
    width: 100%;
}

.login > a {
    padding: 20px;
    background-color: #1db954;
    border-radius: 99px;
    font-weight: 800;
    width: 200px;
    text-decoration: none;
    color: white;
    -webkit-border-radius: 99px;
    -moz-border-radius: 99px;
    -ms-border-radius: 99px;
    -o-border-radius: 99px;
}